@import "tailwindcss";
@import "../lib/styles/tokens.css";

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-700);
  --color-start-blue: #2972d6;
  --color-end-purple: #660b74;
  --fill-gradient: linear-gradient(
    147deg,
    var(--color-start-blue) 0%,
    var(--color-end-purple) 100%
  );
  --gradient-grid:
    linear-gradient(to right, var(--color-stone-50) 1px, transparent 1px) 0%
      0% / 20px 20px,
    linear-gradient(var(--color-stone-50) 1px, transparent 1px) 0% 0% / 20px
      20px,
    radial-gradient(600px at 0% 200px, var(--color-purple-200), transparent) 0%
      0% / 100% 100%,
    radial-gradient(600px at 100% 200px, var(--color-purple-200), transparent)
      0% 0% / 100% 100% var(--color-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.aspect-article-banner {
  aspect-ratio: 420 / 245;
}
