@import "tailwindcss";
@import "../lib/styles/tokens.css";

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-700);
  --color-start-blue: #2972d6;
  --color-end-purple: #660b74;
  --fill-gradient: linear-gradient(
    147deg,
    var(--color-start-blue) 0%,
    var(--color-end-purple) 100%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.aspect-article-banner {
  aspect-ratio: 420 / 245;
}
